/**
 * 设置舞台背景图片
 */
#mainwin{
    -fx-border-width: 1px;
    -fx-border-color: rgb(78,161,239);
    -fx-border-radius:20px;
    -fx-background-color: rgba(24, 24, 24, 0.9);
    -fx-background-radius: 20px;
}

/**
 * 设置风格标签
 * */
#labelTitle{
    -fx-text-fill: rgb(206,209,212);;
}

/*
 *设置标题文本样式
 */
#title{
    -fx-font-size: 32px;
    -fx-font-family: "Arial Blackt";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

/**
 * 设置登陆按钮样式
 */
#btnLogin{
    -fx-background-color: rgba(30, 30, 30,0);
    -fx-text-fill: rgb(206, 209, 212);
    -fx-font-size: 25px;
    -fx-padding:5px;
    -fx-border-color: rgb(206, 209, 212);
    -fx-border-radius: 30px;
    -fx-border-width: 3px;
}

/*设置登陆按钮悬停样式 */
#btnLogin:hover{
    -fx-border-color:rgb(78,161,239);
    -fx-text-fill:rgb(78,161,239);
}

#textUsername{
    -fx-text-fill: rgb(206, 209, 212);
    -fx-background-color: null;
    -fx-border-color: rgb(206, 209, 212);
    -fx-border-radius: 28px;
    -fx-border-width: 2px;
}
#textUsername:hover{
    -fx-border-color:rgb(78,161,239);
}

.text-field{
    -fx-text-fill: rgb(206, 209, 212);
    -fx-background-color: null;
    -fx-border-color: rgb(206, 209, 212);
    -fx-border-radius: 28px;
    -fx-border-width: 2px;
}
.text-field:hover{
    -fx-border-color:rgb(78,161,239);
}

.password-field{
    -fx-text-fill: rgb(206, 209, 212);
    -fx-background-color: null;
    -fx-border-color: rgb(206, 209, 212);
    -fx-border-radius: 28px;
    -fx-border-width: 2px;
}
.password-field:hover{
    -fx-border-color:rgb(78,161,239);
}

#btnEnroll{
    -fx-border-width: 0px;
    -fx-background-color: null;
}
#btnEnroll:hover{
    -fx-text-fill: rgb(78,161,239);
}

#btnMin{
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-border-color: null;
    -fx-background-color: null;
    -fx-background-image: url('bg/minn.png');
    -fx-background-size: 20px;
}
#btnMin:hover{
    -fx-border-color: rgb(78,161,239);
}
#btnClose{
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-border-color: null;
    -fx-background-color: null;
    -fx-background-image: url('bg/close.png');
    -fx-background-size: 20px;
}
#btnClose:hover{
    -fx-border-color: red;
}